@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #ebebeb;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 50px;
}

h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #ee4f2f;
}

h3 {
  font-size: 25px;
}

p {
  color: #202b31;
}

div[class*='Block-'] {
  position: relative;
  margin: 55px 0;
}

section[class*='-title'] {
  padding-top: 90px;
}

li {
  list-style-type: none;
}

.container {
  background: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 1333px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}

button a {
  color: #fff;
}

.transparent-button {
  margin-top: 39px;
  padding: 16px 45px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}

.transparent-button:hover {
  border: 1px solid #edecec;
  background-color: rgba(255, 255, 255, 0.34);
}

.red-button {
  border-radius: 5px;
  border: none;
  background: #ee4f2f;
  padding: 10px 30px;
}

header {
  position: relative;
  background-image: url(../img/bg_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 978px;
}

.header {
  padding-top: 400px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header p {
  color: #fff;
}

.header-container {
  position: absolute;
}

.main-top {
  padding: 35px 0 40px 0;
  background: #fff;
}

.main {
  margin: 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav img {
  width: 205px;
  height: 50px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav nav a {
  color: #202b31;
  text-transform: uppercase;
  padding: 10px 20px;
}

.main-nav nav a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  color: #ffffff;
  background: #ee4f2f;
}

.Block-2 i[class*='fa'] {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}

.Block-2 i[class*='fa']:hover {
  color: #ee4f2f;
}

img.line {
  padding-top: 34px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
  cursor: default;
}

.servises-table {
  padding-bottom: 133px;
}

.servises-table li {
  padding-right: 45px;
  color: #343434;
}

.servises-table li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  color: #ee4f2f;
}

.video-img {
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  background-image: url(../img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 589px;
}

.video-img a i {
  color: #fff;
  padding-top: 252px;
  font-size: 200px;
  position: apsolute;
}

.price {
  padding-bottom: 55px;
}

.price .hero {
  padding: 28px 0 28px 0;
  border: 1px solid #ee4f2f;
}

.price .hero .price-card-price {
  color: #fff;
  background: #ee4f2f;
}

.price-card {
  margin-right: 30px;
  display: inline-block;
  border: 1px solid #ebebeb;
}

.price-card-header {
  padding: 20px 0 20px 0;
}

.price-card-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.price-card-price {
  padding: 10px 0 10px 0;
  background: #ebebeb;
}

.price-card-price span {
  font-size: 35px;
  font-weight: 600;
}

.price-card-text {
  padding-top: 55px;
}

.price-card-button {
  padding: 50px 70px 56px 70px;
}

.ready-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  background-image: url(../img/ready.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 589px;
}

section.ready-img-title {
  position: absolute;
}

section.ready-img-title .title-img {
  text-transform: none;
  color: #fff;
}

section.ready-img-title button {
  padding: 12px 15px;
  text-transform: uppercase;
}

.projects-main {
  margin-top: 50px;
}

.projects-main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-main-list li {
  color: #202b31;
  margin-bottom: 55px;
  font-weight: 600;
  padding: 0 3px;
}

.projects-main-list a {
  color: #202b31;
  padding: 1px 15px;
}

.projects-main-list a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  padding: 1px 15px;
  color: #fff;
  background: #ee4f2f;
  border-radius: 5px;
}

.projects-img-lists {
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-img-lists img {
  margin: 15px;
}

.feedback-subscrine {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-subscrine h3 {
  text-transform: uppercase;
}

.feedback-subscrine p {
  color: #ffffff;
  width: 585px;
}

.feedback-text-img {
  margin-top: 20px;
}

.feedback, .subscrine {
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 155px 0;
  width: 50%;
  height: auto;
}

.feedback {
  background-image: url(/img/feedback.jpg);
}

.feedback-text {
  text-align: center;
}

.subscrine {
  background-image: url(/img/subscrine.jpg);
}

input[name='subscrine'] {
  margin: 25px 0;
  color: #fff;
  padding: 15px 132px 15px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}

.contact_us-form {
  display: inline-flexbox;
}

.contact_us-form input[type='text'], .contact_us-form input[type="email"] {
  width: 44%;
  margin: 15px;
  outline: none;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 132px 15px 20px;
}

.contact_us-form {
  padding-bottom: 90px;
}

.contact_us-form textarea[name="massage"] {
  margin: 31px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  outline: none;
  width: 88%;
  height: 290px;
}

.footer {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a3b1bf;
  background: #202b31;
}

.footer h4 {
  color: #ffffff;
  font-size: 20px;
}

.footer p {
  width: 266px;
  color: #a3b1bf;
}

.footer-contact-icons i {
  padding: 5px;
}

div[class*='footer-col-'], p, h4, ul, img {
  margin: 10px 15px;
}

.footer-img-work {
  width: 129px;
  height: 87px;
  padding: 0;
  margin: 0;
}

.footer-col-1-about_us img {
  margin: 5px 15px;
}

.sosial-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sosial-icons a {
  border-radius: 5px;
  margin: 4px;
  padding: 4px 12px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 25px;
}

.sosial-icons a:hover {
  padding: 5px 13px;
  border: none;
}

.sosial-icons span.sosial-icons-f a {
  padding: 4px 15px;
}

.sosial-icons span.sosial-icons-f a:hover {
  padding: 5px 16px;
  border: none;
}

.footer-col-1-Subscribe .btn-footer {
  text-transform: uppercase;
  position: relative;
  padding: 15px 12px;
  margin: 1px 0 15px 185px;
}

.footer-col-1-Subscribe .mail-footer {
  position: absolute;
  color: #fff;
  padding: 15px 12px 15px;
  border: 1px solid #1f2c33;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(64, 75, 81, 0.5);
}

.footer-col-1-Subscribe input[placeholder="Your email address"] {
  color: #a3b1bf;
}

.footer-2 {
  display: block;
  text-align: center;
  padding: 18px 0;
  width: 100%;
  background: #283645;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */